<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.monitoringprojectapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sdc"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sdc"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".Task.TaskMilestoneActivity"></activity>
        <activity android:name=".Requirement.RequirementActivity" />
        <activity android:name=".Milestone.MilestoneActivity" />
        <activity android:name=".Admin.AdvertAdminActivity" />
        <activity android:name=".Login.LoginActivity" />
        <activity android:name=".Project.ProjectActivity" />
        <activity android:name=".Start.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Task.TaskActivity"
            android:label="@string/title_activity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>